In [1]:
import pandas as pd
import boto3
import json

## CREATE IAM ROLE WITH ADMINISTRATOR ACCESS AND INSERT INFO into admin.cfg

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('admin.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

## CREATE CLIENTS FOR ec2, iam, s3, and Redshift

In [3]:
ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

### CREATE READ_ONLY iam role

In [4]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::407701519615:role/dwhRole

### CREATE REDSHIFT CLUSTER

In [5]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

An error occurred (ClusterAlreadyExists) when calling the CreateCluster operation: Cluster already exists

In [6]:
# See Cluster Status
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

<ipython-input-6-9e3121ca8044>:3: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-feeae786
7,NumberOfNodes,4

In [7]:
# After Cluster Status Changes to Available 
# get Endpoint and Role ARN from Cluster Properties
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::407701519615:role/dwhRole

In [18]:
# Open an incoming TCP port to access the cluster endpoint
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-41cadd49')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

### Ensure Cluster Connection

In [14]:
!pip3 install sql
%load_ext sql

Requirement already satisfied: sql in /Users/mkg/opt/miniconda3/envs/main/lib/python3.9/site-packages (0.4.0)
The sql module is not an IPython extension.

In [13]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com:5439/dwh

UsageError: Line magic function `%sql` not found.

In [8]:
%%sql
SELECT song_id, artist_id, title, year, duration
FROM songs_log_stg
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOIGICF12A8C141BC5', 'AREWD471187FB49873', 'Game & Watch', 2004, Decimal('580')),
 ('SOBRKGM12A8C139EF6', 'ARXQBR11187B98A2CC', 'Welcome to the Pleasuredome', 1985, Decimal('821')),
 ('SOHOZBI12A8C132E3C', 'AR0MWD61187B9B2B12', 'Smash It Up', 2000, Decimal('195')),
 ('SOWBWRV12A6D4FB3D0', 'AR1LOGZ1187B990FB4', 'I Know You', 0, Decimal('307')),
 ('SONHGLD12AB0188D47', 'AR1S3NH1187B98C2BC', 'Our Father', 1999, Decimal('202'))]

In [12]:
%%sql
SELECT artist_id, artist_name as name, artist_location as location,
artist_latitude as latitude, artist_longitude as longitude
FROM songs_log_stg
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AREWD471187FB49873', 'Son Kite', '', None, None),
 ('ARXQBR11187B98A2CC', 'Frankie Goes To Hollywood', 'Liverpool, England', None, None),
 ('AR0MWD61187B9B2B12', 'International Noise Conspiracy', '', None, None),
 ('AR1LOGZ1187B990FB4', 'Mike Stern', 'Boston, MA', None, None),
 ('AR1S3NH1187B98C2BC', 'Anthony B', 'Clarks Town, Jamaica', None, None)]

In [26]:
%%sql
SELECT userId as user_id, firstName as first_name,
lastName as last_name, gender, level
FROM events_log_stg
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('8', 'Kaylee', 'Summers', 'F', 'free'),
 ('26', 'Ryan', 'Smith', 'M', 'free'),
 ('66', 'Kevin', 'Arellano', 'M', 'free'),
 ('89', 'Kynnedi', 'Sanchez', 'F', 'free'),
 ('15', 'Lily', 'Koch', 'F', 'paid')]

In [39]:
df = pd.read_sql_query("SELECT ts FROM events_log_stg ;", conn_string) # WHERE page='NextSong' 
df.head()

             ts
0  1.541106e+12
1  1.541109e+12
2  1.541128e+12
3  1.541150e+12
4  1.541151e+12

In [41]:
t = df
t['start_time'] = pd.to_datetime(t['ts'])

In [42]:
t.head()

             ts                    start_time
0  1.541106e+12 1970-01-01 00:25:41.106352796
1  1.541109e+12 1970-01-01 00:25:41.109125796
2  1.541128e+12 1970-01-01 00:25:41.127957796
3  1.541150e+12 1970-01-01 00:25:41.149698796
4  1.541151e+12 1970-01-01 00:25:41.151325796

In [44]:
date_dim = {}

# take each datetime category from the original timestamp value 
# and create a list out of all the different time-based categorical values
for i in t.index.tolist():
    try: date_dim[i] = [t['ts'][i], t['start_time'][i].isoformat(), t['start_time'].dt.hour[i], t['start_time'].dt.day[i], t['start_time'].dt.week[i], 
            t['start_time'].dt.month[i], t['start_time'].dt.year[i], t['start_time'].dt.weekday[i]]
    except: print("Error at time extraction index: " + i)

time_data = date_dim
column_labels = ['time_key', 'start_time','hour','day','week', 'month', 'year','DayOfWeek']

# initialize a time dataframe from the extracted data-based values 
# so that we can iter over the rows in the dataframe when inserting into the time table
time_df = pd.DataFrame.from_dict(date_dim, orient='index', columns=column_labels)

In [45]:
time_df.head()

,time_key,start_time,hour,day,week,month,year,DayOfWeek
0,1.541106e+12,1970-01-01T00:25:41.106352796,0.0,1.0,1.0,1.0,1970.0,3.0
1,1.541109e+12,1970-01-01T00:25:41.109125796,0.0,1.0,1.0,1.0,1970.0,3.0
2,1.541128e+12,1970-01-01T00:25:41.127957796,0.0,1.0,1.0,1.0,1970.0,3.0
3,1.541150e+12,1970-01-01T00:25:41.149698796,0.0,1.0,1.0,1.0,1970.0,3.0
4,1.541151e+12,1970-01-01T00:25:41.151325796,0.0,1.0,1.0,1.0,1970.0,3.0

In [31]:
t.head()

                             ts
0 1970-01-01 00:25:41.106352796
1 1970-01-01 00:25:41.109125796
2 1970-01-01 00:25:41.127957796
3 1970-01-01 00:25:41.149698796
4 1970-01-01 00:25:41.151325796

In [47]:
%%sql
SELECT * FROM time
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1541106352796, datetime.datetime(1970, 1, 1, 0, 25, 41, 106353), 0, 1, 1, 1, 1970, 3),
 (1541109125796, datetime.datetime(1970, 1, 1, 0, 25, 41, 109126), 0, 1, 1, 1, 1970, 3),
 (1541127957796, datetime.datetime(1970, 1, 1, 0, 25, 41, 127958), 0, 1, 1, 1, 1970, 3),
 (1541149698796, datetime.datetime(1970, 1, 1, 0, 25, 41, 149699), 0, 1, 1, 1, 1970, 3),
 (1541151325796, datetime.datetime(1970, 1, 1, 0, 25, 41, 151326), 0, 1, 1, 1, 1970, 3)]

In [48]:
%%sql
SELECT time.start_time, time.time_key, users.user_key,
users.level, songs.song_key, artists.artist_key,
events_log_stg.sessionId as session_id,
events_log_stg.location, events_log_stg.userAgent
FROM events_log_stg
JOIN users
    ON events_log_stg.userId = users.user_id
JOIN time
    ON events_log_stg.ts = time.time_key
JOIN songs
    ON events_log_stg.song = songs.title
JOIN artists
    ON songs.artist_key = artists.artist_key
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(datetime.datetime(1970, 1, 1, 0, 25, 42, 364036), 1542364035796, 6864, 'paid', 5814, 6107, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(1970, 1, 1, 0, 25, 42, 364036), 1542364035796, 6800, 'paid', 5814, 6107, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(1970, 1, 1, 0, 25, 42, 364036), 1542364035796, 6736, 'paid', 5814, 6107, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(1970, 1, 1, 0, 25, 42, 364036), 1542364035796, 6160, 'paid', 5814, 6107, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(1970, 1, 1, 0, 25, 42, 364036), 1542364035796, 5008, 'paid', 5814, 6107, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(1970, 1, 1, 0, 25, 42, 364036), 1542364035796, 3664, 'paid', 5814, 6107, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(1970, 1, 1, 0, 25, 42, 364036), 1542364035796, 3600, 'paid', 5814, 6107, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(1970, 1, 1, 0, 25, 42, 364036), 1542364035796, 2960, 'paid', 5814, 6107, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(1970, 1, 1, 0, 25, 42, 364036), 1542364035796, 2704, 'paid', 5814, 6107, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(1970, 1, 1, 0, 25, 42, 364036), 1542364035796, 2640, 'paid', 5814, 6107, 620, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [58]:
%%sql
SELECT songs.title, artists.name, COUNT(*) as song_play_cnt
FROM songplays
JOIN songs
    ON songplays.song_key = songs.song_key
JOIN artists
    ON artists.artist_key = songs.artist_key
GROUP BY title, artists.name
ORDER BY song_play_cnt DESC
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[("You're The One", 'Dwight Yoakam', 13206),
 ("I CAN'T GET STARTED", 'Ron Carter', 5454),
 ('Stronger', 'Taxiride', 5026),
 ('Home', 'Gemma Hayes', 4835),
 ('Home', 'Working For A Nuclear Free City', 4835)]

# CLEAN UP RESOURCES
## WARNING: ONLY DO THIS IF YOU NO LONGER NEED THE RESOURCES
## IT WILL NOT SAVE YOUR CLUSTER

In [8]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2021, 8, 24, 15, 22, 23, 13000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-41cadd49',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-feeae786',
  'AvailabilityZone': 'us-west-2c',
  'PreferredMaintenanceWindow': 'sat:06:00-sat:06:30',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::407701519615:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': '623eba13-0f8e-4621-b03b-9f4c23ab6021',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '623eba13-0f8e-4621-b03b-9f4c23ab6021',
   'content-type': 'text/xml',
   'content-length': '2685',
   'vary': 'accept-encoding',
   'date': 'Wed, 25 Aug 2021 18:11:48 GMT'},
  'RetryAttempts': 0}}

In [10]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

ClusterNotFoundFault: An error occurred (ClusterNotFound) when calling the DescribeClusters operation: Cluster dwhcluster not found.

In [ ]:
#### CAREFUL!!
#-- Uncomment & run to remove the IAM Role
# iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
# iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!