In [1]:
import pandas as pd
import boto3
import json

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('admin.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

In [3]:
ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

In [4]:
print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.3 Get the IAM role ARN
arn:aws:iam::407701519615:role/dwhRole

In [5]:
# See Cluster Status
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-feeae786
7,NumberOfNodes,4

In [8]:
# After Cluster Status Changes to Available 
# get Endpoint and Role ARN from Cluster Properties
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::407701519615:role/dwhRole

In [6]:
%load_ext sql

In [9]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [13]:
%%sql
SELECT song_id, artist_id, title, year, duration
FROM songs_log_stg
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOIGICF12A8C141BC5', 'AREWD471187FB49873', 'Game & Watch', 2004, Decimal('580')),
 ('SOBRKGM12A8C139EF6', 'ARXQBR11187B98A2CC', 'Welcome to the Pleasuredome', 1985, Decimal('821')),
 ('SOHOZBI12A8C132E3C', 'AR0MWD61187B9B2B12', 'Smash It Up', 2000, Decimal('195')),
 ('SOWBWRV12A6D4FB3D0', 'AR1LOGZ1187B990FB4', 'I Know You', 0, Decimal('307')),
 ('SONHGLD12AB0188D47', 'AR1S3NH1187B98C2BC', 'Our Father', 1999, Decimal('202'))]

In [12]:
%%sql
SELECT artist_id, artist_name as name, artist_location as location,
artist_latitude as latitude, artist_longitude as longitude
FROM songs_log_stg
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AREWD471187FB49873', 'Son Kite', '', None, None),
 ('ARXQBR11187B98A2CC', 'Frankie Goes To Hollywood', 'Liverpool, England', None, None),
 ('AR0MWD61187B9B2B12', 'International Noise Conspiracy', '', None, None),
 ('AR1LOGZ1187B990FB4', 'Mike Stern', 'Boston, MA', None, None),
 ('AR1S3NH1187B98C2BC', 'Anthony B', 'Clarks Town, Jamaica', None, None)]

In [11]:
%%sql
SELECT userId as user_id, firstName as first_name,
lastName as last_name, gender, level
FROM events_log_stg
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('8', 'Kaylee', 'Summers', 'F', 'free'),
 ('26', 'Ryan', 'Smith', 'M', 'free'),
 ('66', 'Kevin', 'Arellano', 'M', 'free'),
 ('89', 'Kynnedi', 'Sanchez', 'F', 'free'),
 ('15', 'Lily', 'Koch', 'F', 'paid')]

In [ ]:
# start time table load and parse
df = pd.read_sql_query("SELECT ts FROM events_log_stg WHERE page='NextSong' ;", conn) #  
t = df
t['start_time'] = pd.to_datetime(t['ts'])

date_dim = {}

# take each datetime category from the original timestamp value 
# and create a list out of all the different time-based categorical values
for i in t.index.tolist():
    try: date_dim[i] = [t['ts'][i], t['start_time'][i].isoformat(), t['start_time'].dt.hour[i], t['start_time'].dt.day[i], t['start_time'].dt.week[i], 
            t['start_time'].dt.month[i], t['start_time'].dt.year[i], t['start_time'].dt.weekday[i]]
    except: print("Error at time extraction index: " + i)

time_data = date_dim
column_labels = ['time_key', 'start_time','hour','day','week', 'month', 'year','weekday']

# initialize a time dataframe from the extracted data-based values 
# so that we can iter over the rows in the dataframe when inserting into the time table
time_df = pd.DataFrame.from_dict(date_dim, orient='index', columns=column_labels)
time_df.head()

In [ ]:
%%sql
SELECT time.start_time, time.time_key, users.user_key,
users.level, songs.song_key, artists.artist_key,
events_log_stg.sessionId as session_id,
events_log_stg.location, events_log_stg.userAgent
FROM events_log_stg
JOIN users
    ON events_log_stg.userId = users.user_id
JOIN time
    ON events_log_stg.ts = time.time_key
JOIN songs
    ON events_log_stg.song = songs.title
JOIN artists
    ON songs.artist_key = artists.artist_key
LIMIT 10;

In [14]:
%%sql
SELECT songs.title, artists.name, COUNT(*) as song_play_cnt
FROM songplays
JOIN songs
    ON songplays.song_key = songs.song_key
JOIN artists
    ON artists.artist_key = songs.artist_key
GROUP BY title, artists.name
ORDER BY song_play_cnt DESC
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c1jqdpd0ghsw.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[("You're The One", 'Dwight Yoakam', 13206),
 ("I CAN'T GET STARTED", 'Ron Carter', 5454),
 ('Stronger', 'Taxiride', 5026),
 ('Home', 'Gemma Hayes', 4835),
 ('Home', 'Working For A Nuclear Free City', 4835)]